//! **************************************************************************
// Written by: Map P.20131013 on Mon Dec 11 11:06:03 2017
//! **************************************************************************

SCHEMATIC START;
COMP "A" LOCATE = SITE "K3" LEVEL 1;
COMP "B" LOCATE = SITE "P11" LEVEL 1;
COMP "C" LOCATE = SITE "L3" LEVEL 1;
COMP "D" LOCATE = SITE "M5" LEVEL 1;
SCHEMATIC END;

