NET "buff[0]" LOC = B2;
NET "buff[1]" LOC = A3;
NET "buff[2]" LOC = J3;
NET "buff[3]" LOC = B5;
NET "buff[4]" LOC = C6;
NET "buff[5]" LOC = B6;
NET "buff[6]" LOC = C5;
NET "buff[7]" LOC = B7;
NET "mclk" LOC = B8;
NET "dec0_3[0]" LOC = C12;
NET "dec0_3[1]" LOC = A13;
NET "dec0_3[2]" LOC = C13;
NET "dec0_3[3]" LOC = D12;
NET "dec4" LOC = B9;
NET "dec_inv" LOC = A9;
NET "res" LOC = G12;
NET "formm" LOC = C11;
NET "col[0]" LOC = B4;
NET "col[1]" LOC = K3;
NET "left" LOC = A7;
NET "right" LOC = M4;
NET "up" LOC = L3;
NET "down" LOC = P11;
NET "Form[0]" LOC = G3;
NET "Form[1]" LOC = F3;
NET "Form[2]" LOC = E2;
NET "Form[3]" LOC = N3;