NET "d[0]" LOC = N3;
NET "d[1]" LOC = E2;
NET "d[2]" LOC = F3;
NET "d[3]" LOC = G3;
NET "d[4]" LOC = B4;
NET "d[5]" LOC = K3;
NET "d[6]" LOC = L3;
NET "d[7]" LOC = P11;
NET "clk" LOC = B8;
NET "rst" LOC = M4;
NET "ena" LOC = C11;
NET "q[0]" LOC = L14;
NET "q[1]" LOC = H12;
NET "q[2]" LOC = N14;
NET "q[3]" LOC = N11;
NET "q[4]" LOC = P12;
NET "q[5]" LOC = L13;
NET "q[6]" LOC = M12;
NET "q[7]" LOC = N13;